:root {
  font-size: calc(14px + 0.4vw);
  /*
  font-size: 2em;
  font-size: calc(1em + 0.4vw);

  */
  --black: #bada55;
  --main-color: skyblue;
}

.wrapper {
  min-width: 200px;
  width: 100%;
  height: 100%;
  background-color: azure;
}

.contanier {
  padding: 4px;
  max-width: 100%;
  margin: 0 auto;
  background-color: blue;
}

.header {
  width: 100%;
  background-color: var(--main-color);
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header__logo {
  flex-basis: 50%;
  display: inline-flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border: 1px solid firebrick;
  flex-grow: 1;
}

.header__logo h1 {
  flex-basis: auto;
  flex-grow: 1;
  text-align: left;
  font-size: 2.2em;
  padding: 0.5em;
  border: 1px solid blue;
}

.header__logo h1 p {
  border: 1px solid hotpink;
  font-size: 0.3em;
}

.header__logo span {
  flex-basis: 50%;
  font-size: 0.8em;
  padding: 1em;
  text-align: left;

  border: 1px solid hotpink;
}

.header__right-side {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-basis: 50%;
  font-size: 0.8em;
  flex-grow: 1;
}

.header__menu {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
}

.header__socials {
  flex-grow: 1;
  flex-basis: auto;
  text-align: center;
}

.header__menu ul,
.header__socials ul {
  text-transform: uppercase;
  padding: 1em;
  border: 1px solid firebrick;
}

.header__menu li,
.header__socials li {
  display: inline;
  padding: 0.2em;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content {
  padding: 1em;
  margin-bottom: 1em;

  text-align: left;
  /*
  width: 70%;
  width: calc(99% - 1em);
  */
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*
  gap: 1em;
  */
  gap: 1em;
  flex-basis: 80%;
  flex-grow: 1;
}

.content__center,
.content__left,
.content__right {
  flex-basis: auto;
  border: 1px solid gold;
  /*
  */
  flex-grow: 1;
}

.content__center {
  flex-shrink: 1;
}

.content__left {
  flex-basis: auto;
}

.content__right {
  flex-basis: 30%;
}

.content h2 {
  padding: 1em 0;
  text-align: center;
  font-size: 1.5em;
}

.content h3 {
  padding: 1em 0;
  text-align: left;
  font-size: 1.3em;
}

.menu {
  flex-basis: 20%;
  flex-grow: 1;
  padding: 1em;

  /*
  width: 20%;
  */
  background-color: var(--main-color);
}

.footer {
  padding: 2em;
  text-align: center;
  border: 1px solid black;
  background-color: var(--main-color);
}

@media (max-width: 1024px) {
  .content {
    flex-basis: 100%;
  }
  .menu {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  .header__logo {
    flex-basis: 100%;
  }

  .header__logo h1 {
    text-align: center;
  }

  /*
  .header__logo h1 {
    width: 50%;
    text-align: left;
    font-size: 2.2em;
    padding: 0.5em;
    border: 1px solid blue;
  }
*/
  .header__logo span {
    display: none;
  }
}
